@model GulDiyet.Core.Application.ViewModels.Users.SaveUserViewModel

@{
    ViewData["Title"] = "Kullanıcıyı Sil";
}
<div class="container mt-5">
    <div class="border rounded-3 p-4 mt-4 text-center bg-white">
        <h3 class="mb-3">Kullanıcıyı silmek istediğinizden emin misiniz: @Model.Username?</h3>

        <form asp-controller="User" asp-action="DeleteUser">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Sil</button>
            <a class="btn btn-secondary" asp-action="Index">İptal</a>
        </form>
    </div>
</div>
