@using GulDiyet.Core.Application.ViewModels.Users
@using GulDiyet.Core.Application.Enums
@model SaveUserViewModel

@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Kayıt Ol";
}

<div class="container mt-5 w-50">
    <h1 class="mb-3">Kullanıcı Kaydı</h1>
    <div class="card card-box-shadow">
        <div class="card-body">
            <form method="post" asp-controller="User" asp-action="@(editMode ? "Edit":"Create")">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label"></label>
                            <input asp-for="Phone" type="tel" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="TypeUserId" class="form-label"></label>
                    <select asp-for="TypeUserId" asp-items="Html.GetEnumSelectList<Roles>()"
                            class="form-select"></select>
                    <span asp-validation-for="TypeUserId" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <button class="btn btn-primary me-2 w-25">Kaydet</button>
                    <a class="btn btn-secondary" asp-action="Index">İptal</a>
                </div>
            </form>
        </div>
    </div>
</div>
